<div class="container">
    <div class="p-5 text-center">

        <h4 color="blue">EDITAR JEFE DE DEPARTAMENTO</h4>

    </div>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row justify-content-between">

                                <p class="card-text">Todos los registros son admitidos por el comite .</p>
                            </div>
                        </div>
                        <!--cuerpo de Card-->
                        <div class="card-body">



                            <form #f="ngForm">

                                <div class="mb-3">
                                    <label for="rfc" class="form-label">RFC</label>
                                    <input type="text" class="form-control" [(ngModel)]="jefe.rfc" name="rfc" id="rfc"
                                        aria-describedby="nombre">
                                </div>

                                <div class="mb-3">
                                    <label for="nombre" class="form-label">NOMBRE</label>
                                    <input type="text" class="form-control" [(ngModel)]="jefe.nombre" name="nombre" id="nombre"
                                        aria-describedby="nombre">
                                </div>

                                <div class="mb-3">
                                    <label for="apellido" class="form-label">APELLIDOS</label>
                                    <input type="text" class="form-control" [(ngModel)]="jefe.apellidos" name="apellidos" id="apellidos"
                                        aria-describedby="nombre">
                                </div>

                                <div class="mb-3">
                                    <label for="clave" class="form-label">CLAVE</label>
                                    <input type="number" class="form-control" [(ngModel)]="jefe.clave" name="clave" id="clave"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="fecha_ingreso" class="form-label">FECHA DE INGRESO</label>
                                    <input type="text" class="form-control" [(ngModel)]="jefe.fecha_ingreso" name="fecha_ingreso" id="fecha_ingreso"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="fecha_termina" class="form-label">FECHA DE TERMINACION</label>
                                    <input type="text" class="form-control" [(ngModel)]="jefe.fecha_termina" name="fecha_termina" id="fecha_termina"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="status" class="form-label">STATUS</label>
                                    <input type="boolean" class="form-control" [(ngModel)]="jefe.status" name="status" id="status"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="departamento" class="form-label">DEPARTAMENTO</label>
                                    <input type="email" class="form-control" [(ngModel)]="jefe.departamento" name="max_creditos" id="max_creditos"
                                        aria-describedby="emailHelp">
                                </div>

                               

                              

                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button (click)="guardar()" name="guardar" class="btn btn-primary">GUARDAR</button>
                                <button (click)="eliminar()" type="submit" class="btn btn-danger">ELIMINAR</button>
                                <button type="button" [routerLink]="['/jefes/jefedepartamento']" name="canselar" class="btn btn-light">CANCELAR</button>
                            
                            </form>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

