
  <div class="container mt-5">
    
    <div class="container-flid">
      <div class="p-5 text-center">
      
        <h4 color="blue">INICIO DE SECION</h4>
        <P></P>
    </div>
        <div class="row">
            <div class="col-sm-6 offset-3">
                <div class="card">
                    <div class="card-header">
                        <h5>ELIGE EL USUARIO</h5>
                    </div>

                    <div class="container-lg mt-md-5">
                      <div class="body" >
                          <br>
                          <div class="text-center">
                              <div class="form-signin">
                                  <div class="box">
                                      <div class="pt-2">
                                          <img style="width: 35px; margin-top: 5px;" src="assets/img/persona1.png">
                                          <div class="col">
                                              <a routerLink="/login" >ALUMNO</a>
                                          </div>
                                      </div>
                                      <div class="pt-2">
                                          <img style="width: 35px; margin-top: 5px;" src="assets/img/persona2.png">
                                          <div class="col"> 
                                              <a routerLink="/loginjefe">JEFE DE DEPARTAMENTO</a>
                                          </div>
                                      </div>
                                      <br>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
  
