
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" >
          <img
            src="assets/img/persona1.png"
            height="25"
            alt="Logo Jefe"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="/alumnos/menuactividades">INICIO</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/alumnos/carrera">CARRERA</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/alumnos/evidenciapresencial/">EVIDENCIAS PRESENCIALES</a>
          </li>

        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- LOGOUT -->
        <div class="dropdown">
            <a class="dropdown-item" href="#">Salir</a>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  
  
  <div class="p-5 text-center">
    <h4>INICIO ALUMNO quiobo lobo</h4>
    <P>HOLA</P>
    <hr>
    
    <router-outlet></router-outlet>

    <hr>
</div>








<!--

  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">

    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">TIPOS DE ACTIVIDADES</h5>
            <p class="card-text"></p>
            <a routerLink="/alumnos/tipoactividad" class="btn btn-primary">IR</a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">EVIDENCIAS PRESENCIALES</h5>
            <a routerLink="/alumnos/evidenciapresencial" class="btn btn-primary">IR</a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">EVIDENCIAS ENVIADAS</h5>
            <a routerLink="/alumnos/evidenciasenviadas" class="btn btn-primary">IR</a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">ACTIVIDADES COMPLEMENTARIAS</h5>
            <a routerLink="/alumnos/evidenciasenviadas" class="btn btn-primary">IR</a>
          </div>
        </div>
      </div>
  
    </div>
  
  
  </div>

-->

