<header class="body" >
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <br>
          <img src="assets/escudos/tecnm.png" width="100%" alt="">
          <br>
        </div>
        <div class="col-md-8">
          <div class="texto">
            <br>
            <h4>INSTITUTO TECNOLÓGICO DE SALINA CRUZ</h4>
            <p>SISTEMA DE EVIDENCIAS DE ACTIVIDADES COMPLEMENTARIAS</p>
            <br>
          </div>
        </div>
        <div class="col">
          <br>
          <img src="assets/escudos/itsal.png" width="50%" alt="">
          <br>
        </div>
      </div>
    </div>

</header>

