

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="row mt-3">
        
        <h4 class="p-5 text-center">ENVIO DE EVIDENCIAS PRESENCIALES</h4>
                
    </div>
    <div class="row mt-3">
    <div class="col-sm-6 offset-3">
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="titulo" class="form-label">NOMBRE DE LA EVIDENCIA:</label>
            <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Ingresa el título">               
        </div>
        <div class="mb-3">
            <label for="imagen" class="form-label">ARCHIVO:</label>
            <input type="file" class="form-control" name="imagen" id="apellidos" placeholder="Selecciona una imagen">               
        </div>
        <div class="mb-3">
            <label for="texto">DESCRIPCION:</label>   
            <textarea class="form-control" placeholder="Escriba la descripcion de la evidencia" name="texto" style="height: 200px"></textarea>              
        </div>          
    
        <br />
        <button type="submit" name="crearArticulo" class="btn btn-primary w-100"><i class="bi bi-person-bounding-box"></i> ENVIAR EVIDENCIA</button>
        </form>
    </div>
    </div>
    
</div>
