<h4>MENU</h4>

<div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">

    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">TIPOS DE ACTIVIDADES</h5>
            <p class="card-text"></p>
            <a routerLink="/alumnos/tipoactividad" class="btn btn-primary">IR</a>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">EVIDENCIAS A PRESENTAR</h5>
            <a routerLink="/alumnos/evidenciapresentar" class="btn btn-primary">IR</a>
          </div>
        </div>
      </div>
  
  
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">ACTIVIDADES COMPLEMENTARIAS</h5>
            <a routerLink="/alumnos/actividadcomplementaria" class="btn btn-primary">IR</a>
          </div>
        </div>
      </div>
  
    </div>
  
  
  </div>
  
  
