<p>agregarevcomprobatoria works!</p>
<div class="container">
    <div class="p-5 text-center">

        <h4 color="blue">CREAR CARRERA</h4>

    </div>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row justify-content-between">

                                <p class="card-text">Todos los registros son admitidos por el comite .</p>
                            </div>
                        </div>
                        <!--cuerpo de Card-->
                        <div class="card-body">

                            <form >
                               
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">NOMBRE</label>
                                    <input type="text"  name="nombre" class="form-control" id="nombre"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="nombrecorto" class="form-label">NOMBRE CORTO</label>
                                    <input type="text"  name="nombre_corto" class="form-control" id="nombre_corto"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="jefedepartamento" class="form-label">JEFE DEPARTAMENTO</label>
                                    <input type="text"  name="jdepto" class="form-control" id="jdepto"
                                        aria-describedby="emailHelp">
                                </div>

                                

                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button type="submit"  name="agregar" name="agregar" type="submit" class="btn btn-primary">AGREGAR</button>
                                <button type="button"  name="cancelar" class="btn btn-light">CANCELAR</button>
                            
                               </form>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
  
  
