<div class="container mt-5">
    <div class="container-flid">
        <h1 class="text-center">Acceso jefe departamento</h1>
        <div class="row">
            <div class="col-sm-6 offset-3">
                <div class="card">
                    <div class="card-header">
                        Ingresa tus datos para Acceder
                    </div>
                    <div class="card-body">
                        <form action="" method= "POST">
                            <div class="mb-3">
                                <label for="correo" class="form-label">RFC</label>
                                <input type="email" name="correo" id="correo" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">CLAVE</label>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <button type="submit" name="acceder" class="btn btn-primary w-100"><i
                                    class="bi bi-person-circle"></i>&nbsp;&nbsp;Acceder</button>
                        </form>
                    </div>
                    <div class="form-group m-b-0"> 
                        <div class="col-sm-12 text-center">
                            ¿NO ESTAS REGISTRADO? <a routerLink="/rejefe" class="text-primary m-l-5"><b>REGISTRATE</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>