<p>agregarevipresentar works!</p>
<div class="container">
    <div class="p-5 text-center">

        <h4 color="blue">AGREGAR EVIDENCIA PRESENTAR</h4>

    </div>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row justify-content-between">

                                <p class="card-text">Todos los registros son admitidos por el comite .</p>
                            </div>
                        </div>
                        <!--cuerpo de Card-->
                        <div class="card-body">



                            <form >

                                <div class="mb-3">
                                    <label for="descripcion" class="form-label">DESCRIPCION</label>
                                    <input type="text"  name="nombre" class="form-control" id="nombre"
                                        aria-describedby="emailHelp">
                                </div>
                                
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button (click)="agregar()" name="agregar" type="submit" class="btn btn-primary">AGREGAR</button>
                                <button type="button" [routerLink]="['/jefes/evidenciapresentar']" name="canselar" class="btn btn-light">CANCELAR</button>
                                 </form>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
  
  

